table.schema {
    width: 75%;
}

th {
    border: 1px solid;
    text-align: center;
    font-weight: bold;
    width: 15%;
}

#dagdeel {
    background-color: bisque;
}

#activiteit {
    background-color: coral;
}

#onderdeel {
    background-color: darksalmon;
}

#humeur {
    background-color: indianred;
}

tr, td {
    width: 15%;
    text-align: center;
    border: 1px solid;
    border-color: slategrey;
}

a:hover {
    color: rgb(7, 124, 87);
}
